.myskills-bottom{
  padding: 20px 15px;
  border-radius: 18px;
}

.skill{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-text .p2{
font-size: 20px;}

.skill-text .p2{
  margin-top: 3px;
  font-size: 16px;
  color: #b0afaf;
  width: 800px;
}

.skill-images{
  display: flex;
  flex-direction: row;
}
.skill-images img{
  width: 60px;
}


