.container-question-mark{
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 35px;
  height: 35px;
  justify-items: center;
  align-content: center;
  border-radius: 17.5px;
  background-color: #000;
  cursor: default;
}

.question-mark{
  font-size: 20px;
  color: #fff;
}

.container-q-info{
  position: fixed;
  bottom: 70px;
  right: 30px;
  background-color: #a1a1a1;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
}

.container-q-info p{
  font-size: 12px;
}

footer:hover .container-q-info{
  opacity: 1;
}